name: Java CI with Gradle

on:
  push:
    branches: ["ramon"]
  pull_request:
    branches: ["ramon"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build project and jar
      run: bash ./gradlew build

    - name: Run tests
      run: bash ./gradlew test

    - name: Generate JaCoCo coverage report
      run: bash ./gradlew jacocoTestReport

    - name: Upload coverage report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: build/reports/jacoco/test/html

 #   - name: SonarCloud Scan
 #     uses: SonarSource/sonarcloud-github-action@v2
 #     with:
 #       projectBaseDir: .
 #       args: >
 #         -Dsonar.projectKey=proyectraser_raser
 #        -Dsonar.organization=proyectraser
 #         -Dsonar.host.url=https://sonarcloud.io
 #     env:
 #       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Install Snyk CLI
      run: npm install -g snyk

    - name: Authenticate Snyk CLI
      run: snyk auth ${{ secrets.SNYK_TOKEN }}

 #   - name: Run Snyk test for vulnerabilities
 #     run: snyk test --all-projects --org=proyectraser
 #      continue-on-error: true

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: jar-artifact
        path: build/libs/*.jar

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker image with APK
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/android-apk-builder .

    - name: Extract APK from Docker image
      run: |
        docker create --name temp-container ${{ secrets.DOCKER_USERNAME }}/android-apk-builder
        docker cp temp-container:/app/app/build/outputs/apk/debug/app-debug.apk app-debug.apk
        docker rm temp-container

    - name: Upload APK as artifact
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: app-debug.apk

    - name: Push Docker image to Docker Hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/android-apk-builder

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Submit dependency graph
      uses: gradle/actions/dependency-submission@v4
